gymnasium==0.28.1
matplotlib==3.8.3
matplotlib-inline==0.1.6
numpy==1.26.4
pandas==2.2.0
qiskit==0.46.0
qiskit-terra==0.46.0
ray==2.9.3
ray[tune,air,train,rllib]
scikit-learn==1.4.2
scipy==1.12.0
simpy==4.1.1
tensorboardx==2.6.2.2
torch