gymnasium==0.28.1
matplotlib==3.8.3
matplotlib-inline==0.1.6
numpy==1.26.4
pandas==2.2.0
qiskit[visualization]==1.2.0
qiskit-ibm-runtime
ray==2.31.0
ray[tune,air,train,rllib]
scikit-learn==1.4.2
scipy==1.12.0
simpy==4.1.1
tensorboardx==2.6.2.2
torch